@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

[class^="text-display-"],
[class*=" text-display-"],
[class^="text-text-"],
[class*=" text-text-"] {
  font-family: var(--font-family);
}

.text-display-2xl {
  font-size: var(--font-size-display-2xl);
  line-height: var(--line-height-display-2xl);
}

.text-display-xl {
  font-size: var(--font-size-display-xl);
  line-height: var(--line-height-display-xl);
}

.text-display-lg {
  font-size: var(--font-size-display-lg);
  line-height: var(--line-height-display-lg);
}

.text-display-md {
  font-size: var(--font-size-display-md);
  line-height: var(--line-height-display-md);
}

.text-display-sm {
  font-size: var(--font-size-display-sm);
  line-height: var(--line-height-display-sm);
}

.text-display-xs {
  font-size: var(--font-size-display-xs);
  line-height: var(--line-height-display-xs);
}

.text-text-xl {
  font-size: var(--font-size-text-xl);
  line-height: var(--line-height-text-xl);
}

.text-text-lg {
  font-size: var(--font-size-text-lg);
  line-height: var(--line-height-text-lg);
}

.text-text-md {
  font-size: var(--font-size-text-md);
  line-height: var(--line-height-text-md);
}

.text-text-sm {
  font-size: var(--font-size-text-sm);
  line-height: var(--line-height-text-sm);
}

.text-text-xs {
  font-size: var(--font-size-text-xs);
  line-height: var(--line-height-text-xs);
}

.font-regular {
  font-weight: var(--font-weight-regular);
}

.font-medium {
  font-weight: var(--font-weight-medium);
}

.font-semibold {
  font-weight: var(--font-weight-semibold);
}

.font-bold {
  font-weight: var(--font-weight-bold);
}
